*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
a:active,
a:hover,
a:focus, 
a {
  text-decoration: none;
  color: inherit;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.background{
  position: relative;
  padding-top: 5px;
  width: 100%;
  background: linear-gradient(180deg, #3C8502 0%, #679D3B 5.21%, #A6C68D 33.85%, #FFFFFF 100%);
}
.contentWrapper{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.btn-menuWrapper{
  display: none;
}
.navigation{
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
}
.titleBlogNatur{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 70px;
  line-height: 117px;
  color: #FFFFFF;
  margin: 70px 0 0 200px;
}
.titleIherb{
  margin: 0 0 0 550px;
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 161px;
  text-transform: uppercase;
  font-feature-settings: 'zero' on;
  color: #FFE4D7;
}
.hero{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}
.mainText{
  width: 500px;
  height: 500px;
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  display: inline-flex;
}
.instaWidget{
  display: inline-block;
  height: 500px;
  width: 500px;
  background-image: url("../img/instaWidget.png");
  background-size: contain;
}
.realInstaWidget{
  display: inline-block;
  height: 500px;
  width: 500px;
}
.linksWrapper{
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0 0;
  padding: 0 50px 0 20px;
}
.saleButton{
  margin: 0;
  display: flex;
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 43px;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  width: 400px;
  height: 105px;
  background: #F4B08F;
  border-radius: 44px;
  border: 0;
}
.firstBuyButton{
  margin: 20px 0 0 0;
  color: #000000;
  background: #F3DA88;
}
.firstBuyButton:hover{
color: #FFFFFF;
}
.heroButtons{
  display: inline-block;
}
.socialNetworks{
  width: 500px;
  height: 180px;
  text-align: center;
}
.socialNetworksTitle{
  display: block;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
}
.socialNetworksLinksPhone{
  display: none;
}
.banner{
  background-image: url("../img/banner.svg");
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  height: 450px;
  margin: 40px auto 0 auto;
}
.salesTitle{
  margin: 40px 0 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 121px;
  color: #383838;
  display: block;
  text-align: center;
}
.salesTime{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #383838;
}
.promocode{
  padding: 10px 0 0 0;
  width: 459px;
  height: 155px;
  margin: 60px auto 0;
  background: #FFC2C7;
  border-radius: 31px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #000000;
}
.boldPromocode{
  font-size: 50px;
  margin: 10px 0 0 0;
  font-weight: 600;
}
.card{
  height: 500px;
  width: 300px;
  display: inline-block;
}
.productSaleText{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 47px;
  text-align: center;
  color: #000000;
  margin: 5px 0 0 0;
}
.bold{
  font-weight: 700;
  font-size: 34px;
}
.productSaleContent{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
  margin: 100px auto 0 auto;
  max-width: 1000px;
}
.productImg{
  width: 300px;
  height: 300px;
}
/*review.html*/
.reviewBackground{
  background: linear-gradient(180deg, #3B8500 0%, rgba(69, 133, 0, 0.66261) 19.27%, rgba(69, 133, 0, 0.682292) 35.42%, rgba(255, 194, 199, 0.46) 100%);
}
.reviewBackground .contentWrapper{
  text-align: center;
}
.activeMenu{
  text-decoration-line: underline;
}
.reviewsContent{
  width: 100%;
  margin: 20px 0 0 0;
  padding: 0 0 30px 0;
}
.reviewWrapper{
  width: 100%;
  margin: 0 auto 30px;
  max-width: 1100px ;  
  background: #2552009E;
  border: 3px solid #FFC2C7;
  display: grid;
  grid-template-columns: 300px 1fr;
  position: relative;
}
.reviewPhoto{
  width: 250px;
  height: 250px;
  margin: 10px;
  grid-row-start: 1;
  grid-row-end: 4;
}
.reviewsTitle{
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: #FFFFFF;
  margin: 70px 0 0 0;
}
.reviewBanner{
  width: 80%;
  margin: 20px auto;
}
.reviewsMainText{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 35px;
text-align: center;
width: 60%;
color: #FFFFFF;
margin: 20px auto;
}
.reviewTitle{
  display: inline;
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 50px;
  color: #FFC2C7;
}
.reviewText{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  grid-row-start: 2;
  grid-row-end: 4;
}
.reviewLink{
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  text-decoration-line: underline;
  color: #FFC2C7;
}
@media only screen
and (min-width: 0)
and (max-width: 1100px){
  .hero{
    justify-content: normal;
    flex-direction: column;
    padding: 0;
  } 
  .titleIherb{
    margin: 0;
  }
  .navigation{
    position: absolute;
    flex-direction: column;
    width: 100%;
    padding: 160px 0 60px 0;
    background: #3D8603;
    margin: -55px 0 0 0;
    text-align: center;
    gap: 20px;
    display:none ;
    top: 0;
  }
  .linksWrapper{
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }
  .mainText{
    margin: 0 auto;
  }
  .realInstaWidget{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .saleButton{
    margin: 15px auto;
  }
  .socialNetworks{
    margin: 0 auto;
  }
  .btn-menuWrapper{
    display: block;
    z-index: 2;
  position: absolute;
  width: 48px;
  height: 39px;
  left: 20px;
  top: 25px;
}
.stripe{
  width: 40px;
  height: 5px;
  margin: 0 0 8px 0;
  background-color: white;
}
.btn-menu{
  position: absolute;
  width: 48px;
  height: 31px;
  background-color: transparent;
  border: 0;
  top: 0;
  left: 0;
}
.btnHideMenu{
  display: none;
}
.cross {
position: absolute;
width: 100%;
height: 100%;
color: white;
}
.cross:before, .cross:after {
position: absolute;
left: 0;
top: -19px;
content: ' ';
height: 48px;
width: 5px;
background-color: white;
}
.cross:before {
transform: rotate(45deg);
}
.cross:after {
transform: rotate(-45deg);
}
.reviewsContent{
  margin: 0;
}
.reviewBackground{
  padding: 100px 0 20px 0;
}
.reviewBanner{
  width: 100%;
}
.reviewsTitle{
  font-size: 19px;
  margin: 0;
}
}
@media only screen
and (min-width: 0)
and (max-width: 935px){
  .reviewWrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 15px;
  width: auto;
  }
  .reviewLink{
  position: unset;
  font-size: 13px;
  width: 100%;
  padding: 0 10px 0 0;
  text-align: right;
  }
  .reviewTitle{
    font-size: 20px;
    line-height: 25px;
  }
  .reviewText{
    font-size: 14px;
    line-height: 20px;
    margin: 10px;
  }
}
@media only screen
and (min-width: 0)
and (max-width: 650px){
  .hero{
    justify-content: normal;
    flex-direction: column;
    padding: 0;
    height: auto;
  } 
  .banner{
    background-image: url("../img/bannerphone.png");
    width: 100%;
    max-width: 650px;
    height: 250px;
    margin: 0 auto;
  }
  .titleIherb{
    line-height: 100px;
    margin: 0 0 10px 0;
}
  .linksWrapper{
    flex-direction: column-reverse;
    padding: 0;
    margin: 10px 0 0 0;
  }
  .mainText{
    margin: 0 auto 30px;
    font-size: 25px;
    width: 100%;
    height: auto;
    line-height: 35px;
  }
  .saleButton{
    padding: 10px;
    width: 100%;
    border-radius: 0;
    height: fit-content;
    line-height: 30px;
    font-size: 15px;
  }
  .titleBlogNatur{
    margin: 50px 0 0 10px;
    font-size: 40px;
    height: 100px;
  }
  .titleIherb{
    font-size: 70px;
    text-align: center;
  }
  .realInstaWidget{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .socialNetworks{
    width: 100%;
    margin: 0 0 50px 0;
    height: auto;
  }
  .firstBuyButton{
    margin-bottom: 20px;
  }
  .salesTitle{
    height: auto;
    font-size: 30px;
    line-height: 50px;
  }
  .promocode{
    width: 100%;
    padding: 10px;
    line-height: 35px;
    border-radius: 0;
    height: auto;
    margin: 35px auto 0;
    font-size: 30px;
  }
  .boldPromocode {
    font-size: 40px;
    margin: 0;
  }
  .socialNetworksTitle{
    font-size: 20px;
  }
  .socialNetworksLinks{
    display: none;
  }
  .socialNetworksLinksPhone{
    display: block;
    margin: 0 auto;
  }
  .card{
    height: 420px;
  }
  .productSaleContent{
    margin: 35px auto 0 auto;
  }
  .reviewsMainText{
    width: 100%;
    font-size: 22px;
    line-height: 30px;
  }
}